.custom-navbar {
  position: sticky;        
  top: 0;                   
  z-index: 1000;            
  display: flex;
  align-items: center;
  background-color: #111;
  padding: 12px 24px;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  justify-content: flex-start;
  gap: 32px;
  flex-wrap: wrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); 
}


.navbar-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: default;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.navbar-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-link-item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  transition: transform 0.2s ease, color 0.2s ease;
}

.nav-link-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-link-item:hover::after {
  width: 100%;
}

.nav-link-item:hover {
  color: #fff;
  transform: scale(1.1);
  /* text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); */
}
